.tag {
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid var(--conf-color-grey-2);
  border-radius: 16px;

  color: var(--conf-color-grey-7);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;

  padding: 4px 12px;

  transition: background-color 0.15s ease;
}

.tag:hover {
    background-color: var(--conf-color-grey-2);
}

.tag[data-variant="selected"] {
  color: var(--conf-color-white);
  border-color: unset;
  background-color: var(--conf-color-cyan-7);
  gap: 4px;
  cursor: pointer;
}

.tag[data-variant="selected"]:hover {
  background-color: var(--conf-color-cyan-8);
}

.closeButton {
  all: unset;
}
