.button {
  overflow: auto;
  display: flex;
  align-items: center;
  gap: 8px;
}

.button.filed {
  width: auto;
  padding: 14px 20px;

  color: white;
  background-color: var(--conf-color-cyan-7);

  border-radius: 20px;
  border: none;

  cursor: pointer;

  font-size: 1.3rem;
  font-weight: 400;
}

.button.filed:hover {
  background-color: var(--conf-color-cyan-8);
}

.button.filed:active {
  background-color: var(--conf-color-cyan-9);
}

.button.filed:disabled {
  background-color: var(--conf-color-cyan-2);
  color: var(--conf-color-cyan-4);
}

.button.outlined {
  width: auto;
  padding: 14px 20px;

  color: black;
  background-color: white;

  border-radius: 20px;
  border: 3px solid var(--conf-color-cyan-7);

  cursor: pointer;

  font-size: 1.3rem;
  font-weight: 400;
}

.button.outlined:hover {
  background-color: var(--conf-color-cyan-2);
}

.button.outlined:active {
  background-color: var(--conf-color-cyan-3);
}

.button.outlined:disabled {
  background-color: var(--conf-color-cyan-2);
  color: var(--conf-color-cyan-4);
  border: 3px solid var(--conf-color-cyan-4);
}

.button.text {
  all: unset;
  color: black;
  cursor: pointer;
  gap: 8px;

  font-size: 1.3rem;
  font-weight: 400;
  overflow: auto;
  display: flex;
}

.button.text:hover {
  color: var(--conf-color-cyan-7);
}

.button.text:active {
  color: var(--conf-color-cyan-6);
}

.button.text:disabled {
  color: var(--conf-color-cyan-4);
}
