.ellipsis {
  display: flex;
  justify-content: center;
  align-items: end;
  padding: 0 6px 10px 6px;
  margin: 0 4px 0 4px;

  font-weight: 500;
  font-size: 12px;
  min-width: 30px;
  height: auto;
  letter-spacing: 0.001rem;
  user-select: none;
}