.spinner {
  --PI: 3.14159265358979;
  --circumference: calc(var(--PI) * var(--conf-spinner-radius) * 2px);

  display: inline-block;
  color: var(--conf-color-black);
}

.spinner svg {
  display: block;
  animation: rotation 2s linear infinite;
}

.spinner circle {
  transform-origin: center;
  stroke-dasharray: calc(var(--circumference));
  animation: spinner 2s ease-out infinite;
}

@keyframes spinner {
  0% {
    stroke-dashoffset: calc(var(--circumference) * 1);
  }
  50% {
    stroke-dashoffset: calc(var(--circumference) * 0.25);
    transform:rotate(135deg);
  }
  100% {
    stroke-dashoffset: calc(var(--circumference) * 1);
    transform:rotate(360deg);
  }
}

@keyframes rotation {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
