.comboboxWrapper {
    width: fit-content;
    position: relative;
}

.comboboxDisclosure {
    position: absolute;
    right: 0.75rem;
    top: 30%;
}

.comboboxInput {
}

.comboboxPopover {
    border: 1px solid black;
}