.comboboxWrapper {
    width: fit-content;
    position: relative;
}

.comboboxDisclosure {
    position: absolute;
    right: 0.75rem;
    top: 30%;
}

.comboboxPopover {
    margin: 0 -1rem; /* popover клеится к input, а не div в <Input/>, соответственно, растягиваем popover на размер padding  */
    top: 5px;
    border-radius: 0.875rem;
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 31, 0.2);
}

.comboboxInput {
    width: 100%;
}

.comboboxOption {
    padding: 0.875rem 1rem;
    font-weight: 500;
    line-height: 20px;
}

.comboboxOption[data-hoverable]:hover {
    cursor: pointer;
    background-color: var(--conf-color-grey-1);
}