button {
  all: unset;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  min-width: 30px;
  height: 42px;
  padding: 0 6px;

  border-radius: 16px;
  cursor: pointer;

  transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.disabledTransition {
  transition: none;
}

.button:active {
  background-color: var(--conf-color-grey-2);
}

.button:hover {
  background-color: var(--conf-color-grey-1);
}

.text {
  color: var(--conf-color-grey-7);
  font-size: 16px;
  font-weight: 500;
}

.active {
  background-color: var(--conf-color-grey-2);
}

.active:hover {
  background-color: var(--conf-color-grey-2);
}